@charset "utf-8";
body{
    background-color: #B0C4DE;
}
.login-main{
	width: 500px;
	height: 600px;
	margin: auto;
	text-align: center;
}
.login-data{
    width: 350px;
    height: 300px;
	background-color: #778899;
	border-radius: 5px;
	margin: auto;
	margin-top: 30px;
}
.login-data-top{
	padding-top: 10px;
}


.login-btn{
	margin-top: 20px;
}


.login-btn-btn{
	width: 180px;
	height: 30px;
	border:none;
	cursor: pointer;
	border-radius: 5px;
	background-color: #59636d;
}

.login-btn-btn:active{
	background-color: #20486d;
}

.login-btn-btn:hover{
	background-color: #20486d;
}

.msg{
	font-weight: bold;
}