@charset "utf-8";
body{
	background: url(../img/bg.jpg);
	margin: 0 auto;
}

/* head */
.main-all{
	width: 100%;
	color: #FFFFFF;
}
.main-top-left{
	text-align: left;
	width: 25%;
}
.main-top-center{
	text-align: center;
	width: 50%;
}
.main-top-rigth{
	text-align: right;
	width: 25%;
}


/* body NO1*/
.main-main{
	height: 380px;
}
.main-main-chart-table{
	margin: auto;
	width: 80%;
	height: 380px;
}
.main-main-data-table{
	margin: auto;
	width: 80%;
	height: 380px;
}


/* body NO2 */
.main-main-floot{
	height: 140px;
}

.main-main-floot-center-table{
	width: 100%;
	height:140px;
}
.main-main-floot-center-table-left{
	width: 33.3%;
}
.main-main-floot-center-table-center{
	width: 33.3%;
}
.main-main-floot-center-table-rigth{
	width: 33.3%;
}
.main-floot{
	height: 20px;
}


